html {
  color: #006700;
}

.grid {
  display: grid;
  max-width: 1185px;
  grid-template-columns: repeat(auto-fill, 374px);
  justify-items: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
}

.portrait {
  height: 340px;
}

a[target="_blank"] img {
  cursor: zoom-in;
}

.reference:target {
  background-color: #ffff00;
}

@media screen and (max-width: 375px) {
  .grid {
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .portrait {
    height: auto;
  }
}
